.container {
    max-width: 500px;
    margin: 70px auto 0 auto;
   }
   .feed {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #bbb;
    box-shadow: 1px 1px 40px 10px rgba(0, 0, 0, 0.3);
    padding: 3px;
    margin-top: 20px;
   }
   .post {
    background-color: #fff;
    margin: 5px;
    transition: all 0.5s;
   }

   .post:hover{
    background-color:rgba(255, 255, 255, 0.8);
    transition: all 0.5s;

   }

   .post .header {
    height: 60px;
   }
   .post .header > * {
    display: inline-block;
    vertical-align: middle;
   }
   .post .header img {
    width: 50px;
    height: 50px;
    margin: 5px;
   }
   .post .header h2 {
    color: #333;
    font-size: 24px;
    margin: 0 0 0 5px;
   }
   .post p.content {
    margin: 5px;
    padding: 5px;
    min-height: 50px;
   }

   