@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Oswald:wght@600&display=swap');

.footer
{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    gap: 20px;
}

.container
{
    margin-top: 2%;
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container h2
{
    color: white;
    font-size: medium;

}

.explore
{
    font-size: x-large !important;
    font-family: 'Oswald', sans-serif;
}



.right-footer
{
    display: flex;
    flex-direction: column;
    gap: 0 2vh;
}

.right-footer h1
{
    color: white;
}

.right-footer h2
{
    margin: 0 0 0 2vh ;
}

@media(max-width:859px)
{
    .right-footer h1
    {
        font-size: small;
    }
    .right-footer h2
    {
        font-size:smaller;
        margin: 0;
    }

    .explore{
    font-size: small !important;
    font-family: 'Oswald', sans-serif;
    }
}